.site-bottom-menu {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0 -1px 0 #dadada;
  display: flex;

  @media (min-width: 969px) {
    display: none;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #687187;
    flex: 1 1 0%;
    height: 40px;
    box-sizing: content-box;
    padding-bottom: env(safe-area-inset-bottom);
  }
  &__icon {
    height: 18px;
    fill: currentColor;
  }
}
