.site-sub {
  box-sizing: border-box;
  background-color: #ffffff;
  color: $color-black;
  border-top: 1px solid #dadada;

  * {
    box-sizing: border-box;
  }

  /* Desktop */
  @media (min-width: 969px) {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    font-size: 14px;
    line-height: 1.5;
    box-shadow: 0 50vh 0 50vh rgba(0, 0, 0, 0.35);
    transition: 150ms $ease-out;
    transition-property: opacity, visibility, transform;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    /* max-height: calc(100vh - 98px);
    overflow: auto;
    overscroll-behavior: contain; */

    &_open {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }

    &__content {
      display: flex;
      justify-content: space-between;
    }

    &__nav {
      background-color: #f9f9f9;
      width: 254px;
      flex-shrink: 0;
      position: relative;
      padding: 34px 20px 34px 0;
      line-height: 1.25;

      @media not all and (min-width: 1200px) {
        width: 234px;
      }

      &::before {
        content: "";
        background-color: inherit;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        width: 50vw;
      }
    }
    &__nav-legend {
      color: inherit;
      font-weight: 600;
      font-size: 16px;
      line-height: inherit;
      margin: 0 0 13px;
      display: block;
    }
    &__nav-list {
      list-style: none;
      margin: 0 0 21px;
      padding: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
    &__nav-item {
    }
    &__nav-link {
      color: inherit;
      display: block;
      padding: 7px 0;
      transition: color $transition;

      &:hover {
        color: #687187;
      }
      &:focus-visible {
        color: #687187;
      }
    }

    &__panels {
      padding: 34px 20px 34px 50px;
      flex: 1 1 0%;
    }

    &__panel {
      display: flex;
      flex-direction: column;
    }
    &__panel-body {
      display: flex;
      flex-wrap: wrap;
      margin: -25px -10px;
      line-height: 1.25;

      @media not all and (min-width: 1200px) {
        margin-top: -15px;
        margin-bottom: -15px;
      }
    }
    &__panel-back {
      display: none;
    }
    &__panel-group {
      padding: 25px 10px;
      width: 33.3333%;

      @media not all and (min-width: 1200px) {
        padding-top: 15px;
        padding-bottom: 15px;
        width: 50%;
      }
    }
    &__panel-legend {
      color: inherit;
      font-weight: 600;
      font-size: 16px;
      line-height: inherit;
      margin: 0 0 15px;
      display: block;
      transition: color $transition;

      &:hover {
        color: #687187;
      }
      &:focus-visible {
        color: #687187;
      }
    }
    &__panel-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: block !important;
    }
    &__panel-item {
    }
    &__panel-link {
      color: inherit;
      display: block;
      padding: 5px 0;
      transition: color $transition;

      &:hover {
        color: #687187;
      }
      &:focus-visible {
        color: #687187;
      }
    }
    &__panel-footer {
      margin: 32px -13px -8px;
      display: flex;
      flex-wrap: wrap;
    }
    &__panel-action {
      padding: 8px 13px;
    }

    &__banners {
      padding: 35px 0;
      width: 234px;
    }
  }

  /* Mobile */
  @media not all and (min-width: 969px) {
    position: fixed;
    top: 48px;
    bottom: 40px;
    z-index: 1000;
    left: 0;
    width: 100%;
    max-width: 600px;
    font-size: 16px;
    line-height: 1.25;
    overflow: hidden;
    overflow: clip;
    margin-bottom: env(safe-area-inset-bottom);
    transition: 200ms $ease-out;
    transition-property: visibility, transform;
    transform: translateX(-100%);
    visibility: hidden;

    &_open {
      transform: translateX(0);
      visibility: visible;
    }

    .site-container {
      display: contents;
    }

    &__content {
      width: 100%;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      transition: transform 200ms $ease-out;
    }
    &_moved &__content {
      transform: translateX(-100%);
    }
    &__nav {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      bottom: 0;
      overflow: auto;
      padding-bottom: 16px;
      overscroll-behavior: contain;
    }
    &__nav-legend {
      color: inherit;
      font-weight: 600;
      font-size: inherit;
      line-height: inherit;
      margin: 0;
      display: block;
      padding: 16px 20px;
    }
    &__nav-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    &__nav-item {
    }
    &__nav-link {
      color: inherit;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 6px 20px;
      transition: color $transition;

      @media (hover: hover) {
        &:hover {
          color: #687187;
        }
      }

      .menu-item-has-children > & {
        &::after {
          content: "";
          margin-right: 4px;
          margin-left: 20px;
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 4px 0 4px 7px;
          border-color: transparent transparent transparent currentColor;
        }
      }
    }

    &__panel {
      position: absolute;
      top: 0;
      left: 100%;
      width: 100%;
      bottom: 0;
      overflow: auto;
      padding-bottom: 16px;
      display: flex;
      flex-direction: column;
      overscroll-behavior: contain;
    }
    &__panel-back {
      background-color: transparent;
      color: inherit;
      line-height: inherit;
      font-weight: 600;
      font-size: inherit;
      padding: 16px 20px;
      display: flex;
      width: 100%;
      align-items: center;
      cursor: pointer;
      transition: color $transition;

      &::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 7px 4px 0;
        border-color: transparent currentColor transparent transparent;
        margin-right: 17px;
        margin-left: 4px;
      }

      @media (hover: hover) {
        &:hover {
          color: #687187;
        }
      }
    }
    &__panel-legend {
      color: inherit;
      font-weight: 600;
      font-size: inherit;
      line-height: inherit;
      margin: 0;
      display: block;
      padding: 16px 20px;
      transition: color $transition;

      @media (hover: hover) {
        &:hover {
          color: #687187;
        }
      }
    }
    &__panel-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: none;
    }
    &__panel-item {
    }
    &__panel-link {
      color: inherit;
      display: block;
      padding: 6px 20px;
      transition: color $transition;

      @media (hover: hover) {
        &:hover {
          color: #687187;
        }
      }
    }
    &__panel-body {
      flex: 1 0 auto;
    }
    &__panel-footer {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
    }
    &__panel-action {
      & + & {
        margin-top: 16px;
      }

      .site-button {
        display: flex;
        width: 100%;
      }
    }

    &__banners {
      display: none;
    }
  }
}
